.center {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px 0px;
}

.center img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.center h2 {
  text-shadow: 2px 2px #dfbf9f;
  font-size: 48px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: bold;
}

.center p {
  text-shadow: 1px 1px #dfbf9f;
  font-size: 24px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: normal;
}

.bg {
  background-color: #c4c4c4;
}
