.Container {
  background-color: rgba(89, 209, 193, 0.521);
  max-width: 100%;
  max-height: 100%;
}

.ListgroupCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title{
    font-size:18px;
    font-weight:bold;
    text-align: center;
}
